.game {
	.gameEnd {
		display: flex;
		flex-direction: column;
		gap: 6px;
		padding: 25px 0;

		.gameEnd__result {
			font-size: 3rem;
		}
		.gameEnd__triesLeft {
			font-size: 1.4rem;
		}
		.gameEnd__wasWord {
			font-size: 2rem;

			margin-bottom: 15px;
		}
		.gameEnd__word {
			font-weight: bold;
			text-decoration: underline;
		}
		.gameEnd__btn {
			font-size: 26px;
			border: 2px solid black;
			border-radius: 10px;

			margin: 8px 30px;
			padding: 7px 20px;

			background-color: rgb(255, 255, 255);
			box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 1);

			transition: background-color 0.3s, box-shadow 0.3s;

			&:hover {
				background-color: rgb(227, 227, 227);
			}

			&:focus {
				box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 1) inset;
			}
		}
	}
}
