/* Главное меню "Моно тема" темы */
.theme__mono {
	color: rgb(0, 0, 0);
	background-color: white;
}

/* Главное меню "Цветная тема" темы */
.theme__color {
	color: black;
	background-color: rgb(223, 171, 1);

	.game {
		.game__btn {
			background-color: rgb(236, 181, 2);
			&:hover {
				background-color: rgb(220, 170, 4);
			}
		}
		.keyboard {
			.keyboard__key {
				background-color: rgb(236, 181, 2);

				&:hover {
					background-color: rgb(220, 170, 4);
				}
				&:focus {
					background-color: rgb(245, 245, 245);
				}
				&:disabled {
					background-color: rgb(245, 245, 245);
				}
			}
		}
		.gameEnd {
			.gameEnd__btnPlayAgain {
				background-color: rgb(236, 181, 2);
				&:hover {
					background-color: rgb(220, 170, 4);
				}
			}
		}
	}
}
